<div class="root">
  <mat-dialog-actions class="close-btn">
    <mat-icon mat-dialog-close="true">cancel</mat-icon>
  </mat-dialog-actions>
  <h2 mat-dialog-title>Add New Task</h2>
  <mat-dialog-content>
    <div>
      <form (ngSubmit)="onSubmit()" class="table-width" #f="ngForm">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="input-style" appearance="outline">
                <mat-label>Assignee</mat-label>
                <input
                  matInput
                  [(ngModel)]="assignee"
                  name="assignee"
                  required
                />
                <mat-error *ngIf="assignee">Error message</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="input-style" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="title" name="title" required />
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-form-field class="input-style" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            [(ngModel)]="description"
            name="description"
            required
          ></textarea>
        </mat-form-field>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select [(value)]="priority">
              <mat-option>None</mat-option>
              <mat-optgroup label="Priority">
                <mat-option value="Backlog">Backlog</mat-option>
                <mat-option value="Low">Low</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="High">High</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(value)]="status">
              <mat-option>None</mat-option>
              <mat-optgroup label="Status">
                <mat-option value="In Progress">In Progress</mat-option>
                <mat-option value="Review">Review</mat-option>
                <mat-option value="Done">Done</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="add-btn">
          <button
            type="submit"
            mat-flat-button
            class="add-task-btn"
            [disabled]="!f.valid"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </mat-dialog-content>
</div>
